.ant-modal .dishes-memo {
    height: 400px;
    margin-top: 30px;
    padding: 0 20px;
}
.remarks{
    margin: 0;
    margin-top: 10px;
    position: relative;
}
.remarks i{
    position: absolute;
    right: 10px;
    top: 4px;
    color:  #D8D8D8;
    font-size: 20px;
    cursor: pointer;
}
.remarks .remark-textarea{
    padding: 10px;
    width: 100%;
    height: 220px;
    line-height: 24px;
    outline: none;
    border: 1px solid #CACACA;
    border-radius: 4px;
    font-size: 16px;
    color: #666;
}

.remarks .remark-textarea:focus {
  border-color: #9b72be;
}

