.datepicker{
	top: 50%;
	left: 50%;
  width: 490px;
	border-radius: 4px;
	transform: translate(-50%,-50%);
}

.datepicker-modal{
	z-index: 1100;
}
.datepicker.ios .datepicker-content {
  padding-top: 60px;
}
.datepicker.ios .datepicker-navbar {
  border-color: #DEDEDE;
}
.datepicker .datepicker-navbar-btn{
	font-size: 20px;
	color: #8E729D;
	text-decoration: none;
}
.datepicker.ios .datepicker-navbar-btn {
   color: #8E729D;
}
