.chengzhong {
  box-sizing: border-box;
  border: 1px solid #cacaca;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 364px;

  .button-combination {
    width: 100%;
    height: 90.5px;
    border-bottom: 1px solid #cacaca;
    .item-main {
      width: 100%;
      height: 100%;
      display: table;
      .btn-item {
        display: table-cell;
        vertical-align: middle;
        width: 33.3%;
        height: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        font-size: 40px;
        color: #666666;
        cursor: pointer;
        background: #fff;
        border-right: 1px solid #cacaca;
        text-align: center;
        .icon-order_btn_back {
          font-size: 30px;
        }
      }
      .newflex {
        width: 66.6%;
      }
      .btn-item:last-child {
        border-right: 0;
      }
      .btn-item:active {
        background: #eadcf1;
      }
    }
  }

  .button-combination:first-child {
    .btn-item:first-child {
      border-top-left-radius: 8px;
    }
    .btn-item:last-child {
      border-top-right-radius: 8px;
    }
  }

  .button-combination:last-child {
    border-bottom: 0;
    .btn-item:first-child {
      border-bottom-left-radius: 8px;
    }
    .btn-item:last-child {
      border-bottom-right-radius: 8px;
    }
  }
}
