#deskNav {
  width: 100%;
  line-height: 75px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
#deskNav a {
  position: relative;
  display: block;
  flex: 1 1 170px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  color: #383838;
  text-decoration: none;
}
#deskNav a.empty {
  cursor: default;
}
#deskNav a i {
  font-size: 40px;
  margin-right: 20px;
  color: #8e729d;
  vertical-align: middle;
}
#deskNav a:hover {
  color: #8e729d;
}
#deskNav .active {
  background: #f4ebfb;
  color: #8e729d;
}
