@charset "UTF-8";
/*妗屽彴淇℃伅澶撮儴鏍峰紡*/
#desk_info_footer {
  width: 340px;
  height: 56px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 0 0 20px;
  box-sizing: border-box;
  background: #ffffff; }
  #desk_info_footer .left-block {
    float: left;
    width: 84px;
    font-size: 12px;
    color: #666666; }
  #desk_info_footer .right-block {
    margin-left: 18px;
    float: left;
    color: #383838; }
    #desk_info_footer .right-block .tai-number {
      margin-left: 21px; }
    #desk_info_footer .right-block .all-money {
      margin-top: 2px; }
